<div [formGroup]="formGroup">
  <label class="field__label" [for]="field.key">
    {{ field.label ? field.label : (field.key | titlecase) }}
  </label>
  <select [formControlName]="field.key" multiple>
    <option
      *ngFor="let option of field.options"
      [value]="option.value"
      [selected]="option.selected"
      >{{ option.label }}</option
    >
  </select>
  <div class="form__input__errors" *ngIf="showErrors()">
    <p
      class="form__input__error"
      *ngIf="formGroup.controls[field.key].errors.required"
    >
      Value is required
    </p>
    <p
      class="form__input__error"
      *ngIf="formGroup.controls[field.key].errors.minOptions"
    >
      You must select at least
      {{ formGroup.controls[field.key].errors.minOptions.min }} option(s).
      {{ formGroup.controls[field.key].errors.minOptions.current }} option(s)
      selected.
    </p>
    <p
      class="form__input__error"
      *ngIf="formGroup.controls[field.key].errors.maxOptions"
    >
      You cannot select more than
      {{ formGroup.controls[field.key].errors.maxOptions.max }} option(s).
      {{ formGroup.controls[field.key].errors.maxOptions.current }} option(s)
      selected.
    </p>
  </div>
</div>
