<label class="input__radio-label" [for]="field.key">
  {{ field.label ? field.label : (field.key | titlecase) }}
</label>
<div class="container" [ngClass]="{ 'container--error': showErrors() }">
  <ng-container *ngFor="let option of field.options">
    <div class="input__radio-group">
      <input
        class="input__radio"
        type="radio"
        [id]="option.value"
        [name]="field.key"
        [value]="option.value"
        [formControl]="control"
      />
      <label class="input__radio-option" [for]="option.value">
        <span class="input__radio-button"></span>
        {{ option.label }}
      </label>
    </div>
  </ng-container>
</div>
<div class="input__radio-errors" *ngIf="showErrors()">
  <p class="input__radio-error" *ngIf="control.errors.required">
    Value is required
  </p>
</div>
