// APP COLORS
$color-primary-1: #131417;
$color-primary-2: #1e1e26;
$color-primary-3: #40424c;
$color-primary-4: #444657;
$color-primary-5: #777e8f;
$color-primary-6: #eee;

// FORM COLORS
$color-light: #f1f1f1;
$color-medium: #c9c9c9;
$color-dark: #2e3333;

$color-red-light: #ea9d96;
$color-red-dark: #e2766c;

$color-primary: #04bf55;

// BASIC COLORS
$color-white: #ffff;
$color-black: #000;

// GRID
$grid-width: 114rem; // es una convencion usar 1140px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// SHADOWS
$shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
