<div class="form__group">
  <label class="form__label" [for]="fieldData.key">{{ fieldData.label }}</label>
  <ng-container
    *ngIf="
      fieldData.inputType === 'text' ||
      fieldData.inputType === 'email' ||
      fieldData.inputType === 'password'
    "
  >
    <sf-plain-input
      [field]="fieldData"
      [control]="formGroup.controls[fieldData.key]"
    ></sf-plain-input>
  </ng-container>

  <!-- <ng-container *ngIf="fieldData.inputType === 'email'">
    <sf-email-input></sf-email-input>
  </ng-container>

  <ng-container *ngIf="fieldData.inputType === 'password'">
    <sf-password-input></sf-password-input>
  </ng-container> -->

  <ng-container *ngIf="fieldData.inputType === 'select'">
    <sf-select-input></sf-select-input>
  </ng-container>

  <ng-container *ngIf="fieldData.inputType === 'radio-button'">
    <sf-radio-button-input></sf-radio-button-input>
  </ng-container>

  <ng-container *ngIf="fieldData.inputType === 'multiple-select'">
    <sf-multiple-select-input></sf-multiple-select-input>
  </ng-container>

  <ng-container *ngIf="fieldData.inputType === 'checkbox'">
    <sf-checkbox-input></sf-checkbox-input>
  </ng-container>
</div>

<!-- <div>
  <label [for]="key">{{ label }}</label>
  <ng-container
    *ngIf="
      inputType === 'text' || inputType === 'email' || inputType === 'password'
    "
  >
    <input [id]="key" [type]="inputType" [formControl]="control" />
  </ng-container>

  <ng-container *ngIf="inputType === 'selector' && !multiple">
    <select [id]="key" [name]="key" [formControl]="control">
      <ng-container *ngFor="let option of options">
        <option [value]="option.value" [selected]="option.selected"
          >{{ option.label }}
        </option>
      </ng-container>
    </select>
  </ng-container>

  <ng-container *ngIf="inputType === 'selector' && multiple">
    <select [id]="key" [name]="key" [multiple]="multiple">
      <ng-container *ngFor="let option of options; let i = index">
        <option
          [formControl]="control.controls[i]"
          [value]="option.value"
          [selected]="option.selected"
          >{{ option.label }}
        </option>
      </ng-container>
    </select>
  </ng-container>

  <ng-container *ngIf="inputType === 'radio-button'">
    <ng-container *ngFor="let option of options">
      <input
        type="radio"
        [id]="option.value"
        [name]="key"
        [value]="option.value"
        [formControl]="control"
      />
      <label [for]="option.value">{{ option.label }}</label>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="inputType === 'checkbox'">
    <ng-container *ngFor="let option of options; let i = index">
      <input
        type="checkbox"
        [id]="option.value"
        [name]="key"
        [value]="option.value"
        [formControl]="control"
        [checked]="option.selected"
      />
      <label [for]="option.value">{{ option.label }}</label>
    </ng-container>
  </ng-container>
</div> -->

<!-- <div>Field component: {{ fieldData | json }}</div> -->
