/* You can add global styles to this file, and also import other style files */
/* For easier rem management, now 10px = 1rm */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Con respecto al browser, 1rem = 16px; 10/16 = 62.5%  */
}

body {
  box-sizing: border-box;
  padding: 3rem;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

// VARIABLES
$default-font-size: 1.6rem;

$color-white: #fff;
$color-black: #000;
