// VARIABLES
$color-white: #fff;
$color-black: #000;

$color-light: #f1f1f1;
$color-medium: #c9c9c9;
$color-dark: #2e3333;

$color-red-light: #ea9d96;
$color-red-dark: #e2766c;

$color-primary: #04bf55;

.field {
  &__label {
    font-size: 1rem;
    font-weight: 700;
    margin-left: 1.3rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-5.5rem);
  }

  &__input {
    font-size: 1.2rem;
    padding: 1rem 1.3rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.45);
    border: none;
    font-family: inherit;
    color: inherit;
    width: 100%;
    display: block;
    transition: all 0.3s;

    // to avoid the others elements to shake
    border-bottom: 3px solid transparent;

    &:first-child {
      margin-top: 1.8rem;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &--error {
      border-bottom: 3px solid $color-red-dark;
    }
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0rem);
  }

  &__input-errors {
    width: 100%;
    color: $color-red-dark;
    padding: 0.7rem;
    margin-top: -1.5rem;
  }
}
