<input
  class="field__input"
  [id]="field.key"
  [type]="field.inputType"
  [formControl]="control"
  [ngClass]="{ 'field__input--error': showErrors() }"
  [placeholder]="field.label ? field.label : (field.key | titlecase)"
/>
<label class="field__label" [for]="field.key">
  {{ field.label ? field.label : (field.key | titlecase) }}
</label>

<div class="field__input-errors" *ngIf="showErrors()">
  <p class="field__input-error" *ngIf="control.errors.required">
    Value is required
  </p>
  <p class="field__input-error" *ngIf="control.errors.minlength">
    Value you entered is
    {{ control.errors.minlength.actualLength }} characters long, but it should
    be at least {{ control.errors.minlength.requiredLength }}
  </p>
  <p class="field__input-error" *ngIf="control.errors.maxlength">
    Value you entered is
    {{ control.errors.maxlength.actualLength }} characters long, but it cannot
    be longer than
    {{ control.errors.maxlength.requiredLength }}
  </p>
  <p class="field__input-error" *ngIf="control.errors.pattern">
    Invalid format
  </p>
  <p class="field__input-error" *ngIf="control.errors.email">
    Invalid mail
  </p>
</div>
<!-- <div>Input errors: {{ control.errors | json }}</div> -->
